.image-text-comp-image > img {
    width: 100%;
    height: auto;
/* margin: 5px; */
}

.hover-right-container {
    width: calc(70% - 15px);
    height: auto;
    float: right;
    position: relative;
    margin-left: 15px;
    /* display: flex;
    justify-content: center; */
}

.hover-left-container {
    width: calc(30% - 25px);
    height: auto;
    float: left;
    position: relative;
    margin-right: 25px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1000px) and (max-height: 330px) and (orientation: landscape) {
    .hover-left-container {
        width: 100% !important;
        height: auto;
        float: left;
        position: relative;
        margin-right: 0;
    }
    .hover-right-container {
        width: 100% !important;
        height: auto;
        float: left;
        position: relative;
        margin-left: 0;
        /* margin-top: 10px; */
    }
}
  
  /* Landscape iPhone */
@media only screen and (min-device-width: 300px) and (max-device-width: 765px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .hover-left-container {
        width: 100% !important;
        height: auto;
        float: left;
        position: relative;
        margin-right: 0;
    }
    .hover-right-container {
        width: 100% !important;
        height: auto;
        float: left;
        position: relative;
        margin-left: 0;
        margin-top: 10px;
    }
}
  
  /* Portrait iPhone */
@media only screen and (min-device-width: 275px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .hover-left-container {
      width: 100% !important;
      height: auto;
      float: left;
      position: relative;
      margin-right: 0;
    }
    .hover-right-container {
      width: 100% !important;
      height: auto;
      float: left;
      position: relative;
      margin-left: 0;
      margin-top: 10px;
    }
}
  
/* Landscape iPad Normal*/
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2) and (orientation: landscape) {
}
  
  /* Portrait iPad Normal*/
@media only screen and (min-width: 768px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2) and (orientation: portrait) {
    .hover-left-container {
      width: 100% !important;
      height: auto;
      float: left;
      position: relative;
      margin-right: 0;
    }
    .hover-right-container {
      width: 100% !important;
      height: auto;
      float: left;
      position: relative;
      margin-left: 0;
      margin-top: 0px;
    }
}