.completion-action-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 82%;
  /* height: 25%; */
}

.yes-submit-button {
  font-family: "Montserrat-Bold";
  font-size: 0.9em;
  width: 175px;
  height: 40px;
  margin-bottom: 5px;
}

.no-submit-button {
  font-family: "Montserrat-Bold";
  font-size: 0.9em;
  width: 175px;
  height: 40px;
  margin-bottom: 5px;
}
