/** @format */

.glossary-holder {
  position: absolute;
  margin: auto;
  width: 100%;
  height: auto;
  top: 100%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  border-radius: 0px 0px 15px 15px;
  z-index: 1;
}
.glossary-slide-bar {
  background-color: #c6e2ff;
  width: 25%;
  position: absolute;
  top: 2px;
  right: 2px;
  border-bottom-right-radius: 15px;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.glossary-slide-wrapper {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.glossary-slide-bar-scroll-bar {
  width: 100%;
  overflow: auto;
  padding: 0 4px 0 4px
}
.glossary-slide-bar-container {
  width: 90%;
  /* overflow: auto; */
}
.glossary-wrapper {
  margin: 4px 0;
  border-bottom: 1px solid rgb(255, 255, 255, 0.6);
}

.glossary-slide-bar-title {
  margin: 5px 0;
}

.glossary-slide-bar-title-wrapper {
  border-bottom: 1px solid rgb(255, 255, 255, 0.6);
  width: 90%;
}
.glossary-title {
  font-family: 'HelveticaNeueLTStdMd65';
  color: #0062b8;
  text-align: left;
  font-size: 14px;
  margin: 5px 0 0 0;
}
.glossary-slide-bar-title {
  font-family: 'HelveticaNeueLTStdMd65';
  color: #0062b8;
  font-size: 15px;
  text-align: left;
  margin-top: 7px;
  padding: 0 4px 0 4px
}
.glossary-content {
  color: #0062b8;
  font-size: 14px;
  text-align: left;
  margin-bottom: 4px;
  font-family: 'HelveticaNeueLTStd55Roman';
}

/* Landscape iPad Normal*/
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* Portrait iPad Normal*/
@media only screen and (min-width: 768px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Mobile Potrait */
@media only screen and (min-device-width: 275px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .glossary-slide-bar {
    width: 100%;
    border-radius: 15px;
  }
}

/* Mobile Landscape */
@media only screen and (min-device-width: 300px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .glossary-slide-bar {
    width: 100%;
    border-radius: 15px;
  }
}
