.grid-quad{
    /* color:blue */
    /* margin: 14px; */
    padding: 6px;
}

.grid-row{
    display: flex;
    height: 27px;
}

.grid-button-wrapper{
    /* padding: 10px; */
    /* height: 25px; */

}

.grid-button{
    height: 27px;
    width: 27px;
    color: none;
    border: none;
    background: none;
    padding: 0;
}

.grid-img{
    width: 25px;
    height: 25px;
    pointer-events: none;
}