/** @format */
.kc-drag-and-drop .mcss-comp-heading {
  float: left;
  margin: 5px;
  width: 100%;
  height: auto;
  clear: both;
  text-align: left;
  margin-bottom: 5px;
}
.kc-drag-and-drop .mcss-comp-wrapper-left {
  width: 100%;
}

.drag-drop-holder {
  display: inline-flex;
}

/* ol {
  counter-reset: list;
}
ol > li {
  list-style: none;
}
ol > li:before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
} */
