/** @format */

.List {
  width: 59%;
}

.list-comp-wrapper-left {
  width: 100%;
  float: left;
  display: flex;
  position: relative;
  flex-direction: column;
}

.list-comp-wrapper-right {
  width: 100%;
  /* float: right; */
  display: inline-block;
}

.list-comp-heading {
  float: left;
  margin: 5px;
  /* margin-bottom: 1px;
  margin-top: 1px; */
  
  width: 100%;
  height: auto;
  clear: both;
  top: 10px;
  text-align: left;
}

.list-comp-heading-lab {
  margin: 2px 5px 5px;
  text-align: center;
  font-size: 1.21em;
}

.list-comp-group-list-item {
  position: relative;
  /* margin-top: 2em; */
  /* right: 38px; */
  /* width: 106%; */
  margin-top: 5px;
    margin-bottom: 5px;
}

.list-comp-unorder-list,
.list-comp-ordered-list {
  display: grid;
  margin-bottom: 0px;
}

.list-comp-list-item {
  width: 100%;
  top: 20px;
  /* padding: 5px; */
  /* padding-top: 5px; */
}
