/** @format */

.mcss-form-comp-radio-label {
  margin-left: 0.75em;
  cursor: pointer;
  margin-bottom: 0.6em;
}

.mcss-form-comp-radio-label-disable {
  cursor: default;
  pointer-events: none;
}

.mcss-form-comp-button {
  margin-top: 1em;
  /* margin-left: -1.2em; */
  margin-right: 20px;
  margin-bottom: 1em;
  min-width: 100px;
  height: 37px;
}

.mcss-form-comp-button-disable {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.radio-btn-comp {
  margin-bottom: 0.5em;
  cursor: pointer;
}

.radio-btn-comp-disable {
  cursor: default;
  pointer-events: none;
}

.radio-btn-set-1 {
  margin-left: 1em;
}

.radio-btn-set-2 {
  margin-left: 0.05em;
}

/* .radio-btn-comp > img {
  width: 100%;
  height: 100%;
} */

.correct-incorrect-tick-img {
  margin-bottom: -0.2em;
  cursor: default;
  width: 14px;
  pointer-events: none;
}

.option-image {
  margin-top: 12px;
  margin-bottom: 12px;
}