.text-and-button-comp-wrapper-left {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 30px;
}

.text-and-button-comp-wrapper-right {
  width: 100%;
  /* float: right; */
  display: inline-block;

  /* top: -65px;
  position: relative; */
  /* top: 30px;
  position: relative;
  margin-left: 50em; */
}

.text-and-button-comp-heading {
  float: left;
  margin: 5px;
  margin-bottom: 1px;
  margin-top: 1px;
  width: 100%;
  height: auto;
  clear: both;
  top: 10px;
  text-align: left;
}

.text-and-button-comp-para {
  float: left;
  margin: 5px;
  width: 90%;
  height: auto;
  clear: both;
  text-align: left;
}

.text-and-button-comp-button {
  margin-top: 20px;
  margin-left: 5px;
  min-width: 120px;
  max-width: max-content;
  height: 40px;
  padding: 0 1em;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1000px) and (max-height: 330px) and (orientation: landscape) {
  .text-and-button-comp-wrapper-left {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 0px;
  }

  .text-and-button-comp-wrapper-right {
    width: 100%;
    float: left;
  }
}

/* Landscape iPhone */
@media only screen and (min-device-width: 300px) and (max-device-width: 765px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .text-and-button-comp-wrapper-left {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 0px;
  }

  .text-and-button-comp-wrapper-right {
    width: 100%;
    float: left;
  }
}

/* Portrait iPhone */
@media only screen and (min-device-width: 275px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .plain-text-comp-wrapper-left {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 0px;
  }

  .plain-text-comp-wrapper-right {
    width: 100%;
    float: left;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* Portrait iPad Normal*/
@media only screen and (min-width: 768px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .plain-text-comp-wrapper-left {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 0px;
  }

  .plain-text-comp-wrapper-right {
    width: 100%;
    float: left;
  }
}
