.wrapper {
  width: 100%;
  height: calc(100% - 45px);
  display: inline-flex;
  flex-direction: column;
}
.text-title {
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: var(--color-concrete);
  padding: 5.5px 12px 16px;
  font-weight: bold;
  font-size: var(--font-size-label);
}

/* .public-DraftEditor-content{
    margin: 0.3em 0;
  } */
.toolbar {
  background: var(--color-concrete);
  padding: 5px;
  display: none;
}

/* .rdw-option-active {
  background: #d0d0d0 !important;
} */

.rdw-emoji-modal {
  /* font-family: "Montserrat-Regular"; */
}
.rdw-emoji-modal {
  height: 42px !important;
  padding: 5px !important;
  width: 124px !important;
  overflow: hidden;
}
.editor {
  background: var(--color-white);
  flex-grow: 2;
  margin: 0 12px 12px;
  height: 75px;
}

.public-DraftStyleDefault-block {
  /* margin: 0.5 !important; */
}
.image-style {
  border: 2px solid red;
}

.rdw-clipAction-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  position: relative;
  flex-wrap: wrap;

  /* img{
        height: 16px;
      } */
}
.rdw-editor-main {
  font-family: "Montserrat-Regular";
  font-size: 0.95em;
  /* font-size: 30px; */
}
.rdw-option-wrapper img {
  width: -webkit-fill-available;
  width: -moz-available;
}
.disable {
  opacity: 50%;
  pointer-events: none;
}
.character-count-label {
  font-size: 5px;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  opacity: 0;
}