/** @format */

.Wrapper {
  /* width: 90%; */
  overflow: auto;
  overflow-x: hidden;
}

.wrapper-container {
  margin: 0 auto;
  /* margin-bottom: 9px; */
}
.Wrapper .Plain {
  width: 55.5%;
}

.Wrapper .List {
  width: 65%;
}

.Wrapper .DataTable {
  width: 90%;
}

.wrapper-container .list-comp-group-list-item {
  right: 38px;
}
