/** @format */
.image-text-comp-image {
  /* float: left; */
}

.image-text-comp-image > img {
  width: 100%;
  height: auto;
  /* margin: 5px; */
}

.data-table-component{
  font-family:  "HelveticaNeueLTStd55Roman";;
}